@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1>Login Form</h1>
<form action="/Home/Login" method="post">
    <input name="username" value="" />
    <input name="password" value="" />
    <button type="submit">Login</button>
</form>
